html,body,section{
    min-width:100vw;
    min-height:100vh;
    padding:0;
    margin:0;
}



/*
================================
COMPONENTS
================================
*/

.main{
    width:100vw;
    min-height:auto;
    margin:0;
    padding:0;
    top:0px;
}

.intro,.content{
    width:100vw;
    height:100vh;

}

.container {
    width:500px;
    height:500px;
}

.nomargin{
    margin:0;
    padding:0;
}


/*
================================
TEXT COMPONENTS
================================
*/
.big {
    font-size:4rem;
}

.poppins {
    font-family:"Poppins";
}

.white-text{
    color:white;
}

.white-section{
    color:white;
    font-weight: 600;
    font-size:1rem;
}

.xl{
    font-size:5.75rem;
}

.desc{
    font-size:1rem;
    font-weight: 400;
}

.hiraguno {
    font-family: 'Hiragino Sans';
}
/*
================================
ATTRIBUTES
================================
*/
.flex{
    display:flex;
}

.center{
    justify-content:center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.page {
    top:0px;
    position:relative;
    width:100%;
    height:100%;
    transition: transform 1s ease-in-out;
}




/*
================================
COLORS
================================
*/

.black {
    background: black;
}

.white-bg {
    background:white;
}

/*
================================
Media
================================
*/

@media(max-width:728px){

    .big{
        font-size:2rem;
    }

    .desc {
        font-size: 0.75rem;
    }

    .container {
        width: 350px;
        height:350px;

    }

}