<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/onepage-scroll/1.3.1/onepage-scroll.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet">
</head>
<body>
<div class="main flex column black" id="main">
    <section class="black flex center">
        <div class="intro flex center page">
            <div class="text-wrapper intro-container">
                <h1 class="white-text big poppins" th:text="${intro}"></h1>
            </div>
        </div>
    </section>
    <section class="black flex center">
        <div class="content flex center page">
            <div class="container flex column">
                <div class="text-wrapper">
                    <h1 class="white-section poppins nomargin">P R O F I L E</h1>
                </div>
                <br/>
                <div class="text-wrapper">
                    <h6 class="desc white-text poppins nomargin">
                        My name is Andre Satria and I am
                        a  computer science student at the University of Indonesia. I have a great interest on web-development, mainly the front-end sector, also doing CTF games (with my friends) on my free time.  I am currently a Webdev Senior Member at Ristek (a development group at my uni).
                    </h6>
                    <h6 class="desc white-text hiraguno nomargin">
                        <br/>

                        私の名前は アンドレサトリア です。私はインドネシア大学のコンピュータサイエンスの学生です。私はウェブ開発に非常に興味を持っています。おもにフロントエンド部門が私の自由時間に（私の友人と）CTF ゲームをやっているからです。私は現在 リステック（私の大学の開発チーム）のシニアメンバーです。

                    </h6>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src=" https://cdnjs.cloudflare.com/ajax/libs/onepage-scroll/1.3.1/jquery.onepage-scroll.js"></script>
<script th:src="@{/js/animation.js}"></script>
</html>